<section>
  <h1>Enlaces</h1>
  <p>Algunos proyectos/enlaces que me interesan o con los que estoy relacionado.</p>
  <ul id="link-list">
	<li><a href="http://www3.uji.es/~ochera">Mi web en la Universidad Jaume I</a></li>
	<li><a href="http://llig.es">LLIG, Llibres i Gràcia</a></li>
	<li><a href="http://planetari.castello.es">Planetari de Castelló</a></li>
	<li><a href="http://www.castello.es">Est. meteorológica, Planetari</a></li>
	<li><a href="http://castello.guifi.net">guifi.net en Castelló</a></li>
	<li><a href="http://github.com/ferochera">Mis proyectos en github</a></li>
  </ul>
</section>
