<section>
  <h1>Enlaces</h1>
  <p>Algunos proyectos/enlaces que me interesan o con los que estoy relacionado.</p>
  <ul id="link-list">
    <li><a href="http://www3.uji.es/~ochera" title="Mi web en la Universidad Jaume I"><img src="/images/uji.png" /></a></li>
    <li><a href="http://llig.es" title="LLIG, Llibres i Gràcia"><img src="/images/LLIG.png" /></a></li>
    <li><a href="http://planetari.castello.es">Planetari de Castelló</a> - 
        <a href="http://www.castello.es/archivos/598/img/index.html">Est. meteo.</a>
        <br /><a href="http://www.castello.es/archivos/598/img/index.html" title="Planetari de Castelló. Estación Meteorológica"><img src="http://www.castello.es/archivos/598/img/current.gif" /></a>
    </li>
    <li><a href="http://castello.guifi.net" title="guifi.net en Castelló"><img src="/images/guifi.png" /></a></li>
    <li><a href="http://github.com/ferochera" title="Mis proyectos en github"><img src="/images/github.png" /></a></li>
  </ul>
</section>
