// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

// los blockquote tenían la letra demasiado grande
blockquote {
  font-size: 1em;
  line-height: 1.1em;
}

.highlight {
  .line-numbers {
    font-size: 16px;
  }
}

pre { font-size: 16px; }

