// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

// los blockquote tenían la letra demasiado grande
//blockquote {
//  font-size: 1em;
//  line-height: 1.1em;
//}

body > header h1 {
      //padding-left:2.5em;
      padding-left:175px;
      text-align:right;
      @media only screen and (min-width: 432px) {
              text-align:left;
      }
      @media only screen and (min-width: 768px) {
              //padding-left:3em;
      }
      @media only screen and (min-width: 992px) {
              //padding-left:2em;
      }
}

body > header h2 {
      //padding-left:5.62em;
      padding-left:200px;
      text-align:right;
      @media only screen and (min-width: 432px) {
              text-align:left;
              //padding-left:3.9em;
      }
      @media only screen and (min-width: 768px) {
              //padding-left:5em;
      }
      @media only screen and (min-width: 992px) {
              //padding-left:2.9em;
      }
}

body > header h1:before {
      content:"";
      position:absolute;
      left:0em;
      right:0;
      top:1.5em;
      bottom:1.5em;
      height:150px;
      width:150px;
      overflow:hidden;
      text-align:right;
      background-image:url('/deries/images/xarxes2.png');
      background-repeat:no-repeat;
      @media only screen and (min-width: 432px) {
              top:.32em;
      }
      @media only screen and (min-width: 768px) {
              left:.75em;
      }
}

